
<%# Inspired by: http://www.ccs.neu.edu/home/ntuck/courses/2018/09/cs4550/notes/06-channels/notes.html %>
<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
    <input type="text" id="game">
    <button type="submit" onClick="location.href='/game/'+document.getElementById('game').value;">Join game</button>
  </div>
</div>
